/* The @import rule below imports the Playfair Display and Source Sans Pro fonts into the stylesheet. You don't have to edit this line.*/
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display&family=Source+Sans+Pro:wght@400&display=swap");

body {
  color: #003049;
  font-family: "Playfair Display", Times, serif;
  padding: 40px;
  background-color: #eae2b7;
}

nav {
  font-family: "Playfair Display", Times, serif;
  font-size: 1rem;
  text-align: center
}

header {
  text-align: center;
}

footer {
  text-align: center;
  font-family: "Playfair Display", Times, serif;
}
/* Set the font family for any h1, h2, or h3 heading */
h1 {
  font-family: "Playfair Display", Times, serif;
  font-size: 3rem;
  text-align: center
}

h2 {
  font-family: "Playfair Display", Times, serif;
  font-size: 2rem;
  text-align: center;
}

h3 {
  font-family: "Playfair Display", Times, serif;
  font-size: 1.5rem;
  text-align: center;
}

p {
  line-height: 1.5;
  font-family: "Playfair Display", Times, serif;
  font-size: 1rem;
  text-align: horizontal-center;
}

#About {
  padding: 50px;
}

article {
  text-align:horizontal-center;
}

article div {
  text-align: center;
}

ul {
  font-family: "Playfair Display", Times, serif;
  font-size: 1rem;
}

a:link {
  color: #d62828;
}

a:hover {
  color: #f77f00;
}

/* The div container constrains the content width within the main container to 600px */
div {
  margin: auto;
  width: 600px;
}

img {
  width: 100%;
  max-width: 200px;
  height: auto;
  display: block;
  margin: 0 auto;
}

hr {
  border: 1px solid black;
  margin-top: 50px;
}

/* Add your solution below */

.image-circle {
  border-radius: 50%;
  border-width: 2px;
  border-color: #003049;
  border-style: solid;
}

.parent-container{ text-align: center;}